<footer class="site-footer">
    <div class="inner">
        <div>
            <h2>Pie</h2>
            <p>A quirky and whimsical expression-based programming language</p>
            <p><a href="https://discord.gg/4JQvGaQ3BB">Join the Discord</a></p>
        </div>
        <div>
            <h2>Learn</h2>
            <ul>
                <li><a href="playground.html">Playground</a></li>
                <li><a href="docs.html">Documentation</a></li>
                <li><a href="spec.html">Specification (draft)</a></li>
                <li><a href="https://github.com/AliAlmutawaJr/Pie/releases">Releases</a></li>
            </ul>
        </div>
        <div class="overheard">
            <h2>Overheard about Pie</h2>
            <ul>
                <li>“The whole language is a bug.”</li>
                <li>“Can't have your Pie and eat it too!”</li>
                <li>“Is this like Forth?”</li>
                <li>“Better JS.”</li>
            </ul>
        </div>
        <p class="fine">Pie is made by <a href="https://AliAlmutawaJr.com">Ali Almutawa Jr.</a> and <a href="https://github.com/AliAlmutawaJr/Pie/graphs/contributors">contributors</a>.</p>
    </div>
</footer>
